body {
  background-color: #2c3639;
  margin: 0px;
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
  color: #dcd7c9;
}
h1 {
  margin: 160px auto 0px auto;
}
h2 {
  color: #dcd7c9;
}
h3 {
  color: #dcd7c9;
}
hr {
  background-color: #a27b5c;
  border: 0px;
  height: 2px;
}
.sub-title {
  font-size: 1em;
}
.title {
  background-color: #3f4e4f;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  padding-top: 50px;
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  color: #dcd7c9;
}
.cavalo {
  text-decoration: underline;
}
.t-cloud {
  position: absolute;
  right: 400px;
  top: 90px;
}
.b-cloud {
  position: absolute;
  left: 480px;
  bottom: 420px;
}
.middle-container {
}
.profile-pic {
  height: 250px;
  position: relative;
  top: 25px;
  margin-bottom: 15px;
}
.amongus {
  height: 200px;
  float: left;
  margin-right: 30px;
  margin-bottom: 50px;
}
.osu-gif {
  width: 50%;
  float: right;
  margin-bottom: 50px;
  margin-left: 30px;
}
.botton-container {
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.b {
  height: 200px;
  text-align: right;
}
.a {
  margin-bottom: 200px;
}
